
/*=================================================================
  @media screen 1440px
==================================================================*/


@media screen and (min-width: 1440px){
   
  


}

/*=================================================================
  @media screen 1199px
==================================================================*/


@media screen and (max-width: 1199px){
   
  

}


/*=================================================================
  @media screen 1220px
==================================================================*/


@media screen and (min-width: 1220px){
  




}


/*=================================================================
  @media screen 1024px
==================================================================*/


@media screen and (max-width: 1024px){

  
.__wecardvmc {
    height: 100%;
  }

  .__wecard2 {
    padding: 10px 9px;
  }

  .__abuotm {
    height: 295px;
  }

  .__carousel-innert>.item> .__img {
    height: 496px;
  }
  

}


/*=================================================================
  @media screen 992px
==================================================================*/


@media screen and (max-width: 992px){
    
}


/*=================================================================
  @media screen 800px
==================================================================*/

@media screen and (max-width: 800px){

	
  .__wecardvmc {
    height: 100%;
  }

  .__wecard2 {
    padding: 10px 9px;
  }


  .__abuotm {
    height: 277px;
  }

  .__schlogo {
    width: 60px;
    margin-top: -14px;
  }

  .__carousel-innert>.item> .__img {
    height: 363px;
  }

  .__gimg .__gimgdiv {
    height: 70vh;
  }


}

/*=================================================================
  @media screen 767px
==================================================================*/

@media screen and (max-width: 767px){

  .__email {
    float: left;
  }

  .mr {
    text-align: left;
  }
  
}


/*=================================================================
  @media screen 560px
==================================================================*/


  @media screen and (max-width: 560px){

  .__email {
    float: left;
  }

  .__schlogo {
    width: 90px;
    margin-top: -23px;
  }

  .__carousel-innert>.item> .__img {
    height: 251px;
  }

  .__carousel-caption {
    right: 8% !important;
    top: 49px;
    left: 5% !important;
  }

  .__colat {
    font-size: 25px;
  }

  .__colat1 {
    font-size: 11px;
  }

  .__carousel-controlt span {
    padding: 2px 7px;
  }

  .__carousel-controlt {
    width: 14%;
    top: 88%;
    left: 75%;
  }

  .arrow{
    text-align: center;
  }

  .arrow i{
    margin-left: 0;
  }

  .__wecardvmc {
    height: 100%;
  }

  .__wecard2 {
    padding: 10px 9px;
  }

  .mr {
    text-align: left;
  }

  .__gimg .__gimgdiv {
    height: 60vh;
  }


  

}

